.noMarginAndPadding {
    margin: 0;
    padding: 0;
}

.actionButton {
    width: 33%;
    height: 52px;
}

.unity-button {
    border-width: 0;
}

.highlighted {
    border-width:5px;
    border-color:rgb(255,220,20);
}
